$font-stack: 'Nunito', Arial, sans-serif
$base-font-size: 16px


$color-primary: #FFEB3B
$color-primary-dark: #FBC02D

$color-accent: #FF4081

$color-text-primary: #212121
$color-text-secondary: #757575
$color-text-light-primary: #FFFFFF
$color-text-light-secondary: #BDBDBD

$color-divider: #BDBDBD

// Greens
$color-emerald: #2ECC71
$color-nephritis: #27AE60
// Greys
$color-clouds: #ECF0F1
$color-silver: #BDC3C7
// Reds
$color-alizarin: #E74C3C
$color-pomegranate: #C0392B



$color-grey-100: #F5F5F5
$color-grey-200: #EEEEEE

// Color aliases
$color-button-positive: $color-emerald
$color-button-positive-icon: $color-nephritis
$color-button-disabled: $color-grey-200
$color-button-disabled-icon: $color-silver
$color-input-invalid: $color-alizarin

$color-white: #fff
$color-black: #000
$color-orange-500: #ff9800
$color-blue-grey-900: #263238
$color-blue-grey-800: #37474F

$dimen-header-height: 64px
$dimen-button-height: 36px

$shadow-1: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24)
$shadow-2: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23)
